<nav class="navbar navbar-expand-md bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="{% static 'media/profile.png' }" style="width:50px;height:50px;"/> Luis Gonzalez</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown-toggle" data-toggle="dropdown">
                    Portfolio
                    <b class="caret"></b>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="/blog/">ResumeBot</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog/">ChatBot</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog/">LeaderBot</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog/">Chat with Documents</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/luiscgonzalez" target="_blank">LinkedIn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/luisagcenteno84" target="_blank">Github</a>
                </li>
            </ul>
        </div>
    </div>
</nav>